# Load csv file with pure Python

In [6]:
csv_content = []
with open("sample.csv") as f:
    for line in f:
        line_components = line.strip().split(",")
        csv_content.append(line_components)

In [7]:
csv_content

[['name', 'age', 'city', 'occupation', 'salary'],
 ['Alice Johnson', '28', 'New York', 'Software Engineer', '85000'],
 ['Bob Smith', '34', 'San Francisco', 'Data Scientist', '95000'],
 ['Carol Davis', '29', 'Boston', 'Product Manager', '75000'],
 ['David Wilson', '31', 'Seattle', 'UX Designer', '70000'],
 ['Eva Brown', '26', 'Austin', 'Marketing Specialist', '60000']]

# Pandas basics

In [8]:
import pandas as pd

In [9]:
csv_df = pd.read_csv("sample.csv")

In [10]:
csv_df

            name  age           city            occupation  salary
0  Alice Johnson   28       New York     Software Engineer   85000
1      Bob Smith   34  San Francisco        Data Scientist   95000
2    Carol Davis   29         Boston       Product Manager   75000
3   David Wilson   31        Seattle           UX Designer   70000
4      Eva Brown   26         Austin  Marketing Specialist   60000

In [11]:
csv_df['name']

0    Alice Johnson
1        Bob Smith
2      Carol Davis
3     David Wilson
4        Eva Brown
Name: name, dtype: object

In [13]:
csv_df['age']

0    28
1    34
2    29
3    31
4    26
Name: age, dtype: int64